[user]
  name = Martin Dines
  email = martin.dines@live.co.uk
  signingkey = F9922FB7E1975014

[push]
  default = simple
  autoSetupRemote = true

[mergetool]
  prompt = false
  keepBackup = false

[merge]
  tool = vimdiff
  conflictstyle = diff3

[commit]
  gpgsign = true

[credential]
  helper = cache

[http]
  cookiefile = ~/.gitcookies

[core]
  excludesfile = ~/.gitignore
  editor = nvim

[rebase]
  autosquash = true

[hub]
  host = github.com

[rerere]
  enabled = true

[pretty]
  # Extended one line.
  xol = "format: %ai %<(20) %Cblue%an %Cgreen%h %Creset %s"

[pack]
  useSparse = true